/app/config/parameters.yml
/build/
/bin/*
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/js
etc/ansible/vars/vars.yml
!etc/ansible/roles
etc/ansible/roles/*
etc/ansible/host_vars/*.yml

bin/*
